.textBlock {
  width: 100%;
  font-size: 16px;

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
  }

  li {
    padding-left: 0;
    list-style-position: inside; 
  }

  a {
    color: $ColorLink1;
    text-decoration: underline;
  }
}