.loader {
  padding: 20px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

@keyframes yinYang {
  100%{transform: rotate(360deg)}
}

.spiner {
  width: 96px;
  box-sizing: content-box;
  height: 48px;
  background: $ColorText1;
  border-color: $BGColor2;
  border-style: solid;
  border-width: 2px 2px 50px 2px;
  border-radius: 100%;
  position: relative;
  animation: 3s yinYang linear infinite;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background: $ColorText1;
    border: 18px solid $BGColor2;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    box-sizing: content-box;
  }

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: $BGColor2;
    border: 18px solid $ColorText1;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    box-sizing: content-box;
  }
}

.text {
  color: $ColorText1;
  @include text(36px, 600, 100%)
}


