.result {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
}

.correct {
  color: $IsRightColor;
}

.uncorrect {
  color: $IsWrongColor;
}

.icon {
  font-size: 80px; 
}